<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>show page</h1>
        <h3>Info Submitted</h3>
        <p>name: {{ name_on_template }}</p>
        <p>Gender: {{ gender_on_template }}</p>
        <p>Location: {{ location_on_template }}</p>
        <p>Favorite Language: {{ favorite_language_on_template }}!!!</p>
        <p>Comment: {{ comment_on_template }}</p>
        <p>receive periodic email updates: {{ receive_email_on_template }}</p>
    
        <input class="btn" type="submit" value="Button">
    </main>

</body>
</html>