*{
    margin: 0;
    padding: 0;
}
.dis-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
main{
    align-items: center;
    width: 700px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}
form{
    border: solid black;
    padding: 30px;
    margin: 10px;
}
.fav_lang, .location, .name, .genders{
    justify-content: space-between;
    margin: 15px 0;
}
#name, select{
    width: 130px;
    border: solid;
}
.comment textarea{
    border: solid ;
    margin: 15px 0;
}
.btn{
    background-color:#76a5af ;
    color: white;
    margin: 15px 0;
    padding: 2px;
    box-shadow: 3px 3px 0px black;
    margin-left: auto;
    display: block;
    /* text-align: right; */
    /* position: relative;
    left: 300px ; */
    
}